body.col{
    background-color: burlywood;
}

header.cent{
    text-align: center;
}
nav.col{
    background-color: cadetblue;
    text-align: center;
}

div.div1{
    background-color: greenyellow;
    color: blue;
}

ul.ul1{
    list-style-type: disc;
}

ol.ol2{
    list-style-type: upper-roman;
}
ol.ol3{
    list-style-type: upper-latin;
}
p.p1{
    text-align: center;
    font-weight: bold;
}

span.span1{
    background-color: yellow;
}
span.span2{
    text-decoration: line-through;
}