body.col{
    background-color: burlywood;
}

header.head{
    text-align: center;
}

img.img{
width: 175px;
height: 175px;
}

div.div1{
    text-align: center;
    color: green;
    background-color: cadetblue;
}

div.div2{
    background-color: white;
    border-top: 10px solid white;
    border-bottom: 80px solid white;
}

div.div3{
    float: left;
}
div.div4{
    border-top: 20px solid blue;
    border-bottom: 20px solid blue;
    color: blue;
}

div.div5{
    background-color: cadetblue;
    border-top: 20px solid cadetblue;
    border-bottom: 50px solid cadetblue;

}
img.img1{
    float: right;
    width: 150px;
    height: 150px;
}

p{
    font-size: large;

}

div.div6{
    border-top: 20px solid red;
    border-bottom: 20px solid red;
    color: red;
}
footer.center{
    text-align: center;
}
p.foot{
    font-weight: bold;
}
span.span1{
    background-color: yellow;
}

span.span2{
    text-decoration: line-through;
}